<div class="issues">
    <div class="issuesHeader">
        Issues
    </div>
{{#each issues}}
    <div class="issue" id={{this.id}}>
        <div class="header">
            <a href="{{this.web_url}}">{{ this.title }}</a>
            <span class="news"></span>
            <span class="openStatus">{{this.state}}</span>
        </div>
        <div class="status">
            <span>Opened on <span class="createdAt">{{formatDate this.created_at "long"}}</span> by </span><a href="{{this.author.web_url}}" class="author">{{this.author.name}} <img src="{{this.author.avatar_url}}" class="avatar"></a>
        </div>
        <div class="labels">
            {{#each this.labels}}
                <a href="{{cleanLink ../this.web_url}}?label_name={{this}}" class="label">{{this}}</a>
            {{/each}}
        </div>
        <div class="description">
            {{this.description}}
        </div>
        <div class="footer">
            <span class="comments">Comments: {{this.user_notes_count}}</span>
            <span class="votes">Upvotes/Downvotes: {{this.upvotes}} / {{this.downvotes}}</span>
            <span class="lastUpdated">Last updated on  <span class="updatedAt">{{formatDate this.updated_at "long"}}</span></span>
        </div>
    </div> 
{{/each}}
</div>
<div class="notifications">
    <div class="notificationsHeader">
        Notifications
    </div>
    <div class="notification">
        <div class="header">
            <span class="action">Action: comment</span>
        </div>
        <div class="status">
          <span><a href="" class="notificationLink">Issue #3248 (Maybe now)</a> on August 7th 2020, 16:12:04</span>
        </div>
        <div class="description">
          <a href=""><img src ="" class="notificationAvatar"></a>
          <div class="content">
            <span>Done by <a href="" class="notificationAuthor">Johan Andersson</a></span>
            <span class="text">Blablabla</span>
          </div>
          
        </div>
        <div class="user">
          
        </div>
    </div>
</div>