<div class="issues">
    <div class="issuesHeader">
        Issues
    </div>
{{#each issues}}
    <div class="issue">
        <div class="header">
            <a href="{{this.web_url}}">{{ this.title }}</a>
            {{this.state}}
        </div>
        <div class="status">
            Opened on {{formatDate this.created_at "long"}} by <a href="{{this.author.web_url}}" class="author">{{this.author.name}} <img src="{{this.author.avatar_url}}" class="avatar"></a>
        </div>
        <div class="labels">
            {{#each this.labels}}
                <a href="{{cleanLink ../this.web_url}}?label_name={{this}}" class="label">{{this}}</a>
            {{/each}}
        </div>
        <div class="description">
            {{this.description}}
        </div>
        <div class="footer">
            <span class="comments">Comments: {{this.user_notes_count}}</span>
            <span class="votes">Upvotes/Downvotes: {{this.upvotes}} / {{this.downvotes}}</span>
            <span class="lastUpdated">Last updated on {{formatDate this.updated_at "long"}}</span>
        </div>
    </div> 
{{/each}}
</div>
<div class="notifications">
    <div class="notificationsHeader">
        Notifications
    </div>
</div>